/* Css for View/header.php */
.container {
    max-width: 1200px;
    width: 100%;
}

.white {
	color: white !important;
}

.bg-red {
	background-color: rgb(238, 9, 9) !important;
}

.tile{
	margin-left: 5%;
	padding-right: 5%;
}

footer {
    background-color: #ccc;
    margin-top: 50px;
    padding: 20px;
}

.sear {
	margin-right: 5%;
}

/* Css for View/home.php */
.content {
	margin-top: 20px !important;
}

aside h3 {
	font-size: 1em;
	background-color: #EBEBEB;
    padding: 8px 15px;
	text-align: center;
	border: 1px solid #000;
	border-radius: 10px;
}

.card {
	margin-bottom: 20px;
	text-align: center;
	border: none;
	transition: all 0.5s;
}

.card:hover {
	background-color: #ccc;
}

.homeprd {
	margin-left: 5%;
}

.add {
	text-decoration: none;
	color: black;
}

/* Css for View/spchitiet.php */
.buy {
	margin-left: 30%;
}

.img-fluid{
	width: 100%;
}

.display{
	width: 85%;
	margin-left: 10%;
	margin-top: 20px !important;
}

.des {
	width: 70%;
}

.input {
	width: 80% !important;
}

.binhluan {
	width: 80%;
	border: 1px solid;
	border-radius: 5px;
}

.mgl {
	margin-left: 3%;
	padding-bottom: 15px;
}

.inbl {
	margin-top: 10px;
}

#comment{
	margin-bottom: 20px;
}

/* Css for View/cart.php */
table, td, th, tr {
    border: 1px solid black;
    text-align: center;
  }
  
table {
    width: 80%;
    margin-top: 20px;
}

/* Css for View/userinfo.php */
.mmain-user-info {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 50%;
	margin: auto;
	text-align: center;
	font-family: arial;
	padding: 10px;
}

/* footer */
.fcontainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 15px;
	background-color: #333;
	color: white;
}

.fcolumn {
	flex: 1;
	margin-right: 20px;
}


footer {
	text-align: center;
	padding: 10px;
	background-color: #222;
	color: white;
}

/* Css for View/sanpham.php */
.showsanpham {
	margin-top: 20px;
	margin-left: 15%;
	width: 70%;
}

/* Css for View/tintuc.php */
.tintuc {
	margin-top: 20px;
	margin-left: 20%;
	width: 60%;
	font-size: 25px;
}